nav {
    text-align: center;
    margin: 25.5px 330px;
}
.main-menu {
    font-weight: 700px;
    list-style: none;
    font-size: 16px;
}
.main-menu li {
    display: inline-block;
    height: 27px;
}
.main-menuli1 {
    padding-right: 72px;
}
.main-menuli2 {
    padding-right: 72px;
}
.main-menuli3 {
    padding-right: 50px;
}
.main-menu a {
    text-transform: uppercase;
    color: red;
    font-size: 18px;
    text-decoration: none;
}




.img-main {
    display: block;
    margin: auto;
}

.h-main {
    margin-top: 49px;
    text-transform: uppercase;
    font-family: Monospaced;
    font-size: 22px;
    text-align: center;
}


.p1 {
    margin: 38px 67.5px 28px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.4px;
}

.p2 {
    margin: 28px 67.5px 66px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.4px;
}


.btn {
    margin: 66px 588px 82px 587px;
    padding: 18px 43.5px 17px 42.5px;
    border: 0px solid red;
    background-color: red;
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
}
.footer {
    margin: 82px 105px 29px 713px;
    height: 39px;
    font-size: 16px;
    text-align: right;
}